.banner {
    background: url("logo.jpg") no-repeat;
    height: 110vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner .titel {
    text-align: center;
    padding-top: 200px;
}

@media screen and (min-width: 1201px) {
    .banner .titel h1 {
        font-weight: 400;
        font-size: 40px;
    }
    .banner .titel h2 {
        font-weight: 400;
        font-size: 25px;
    }
    .banner .titel h3 {
        font-weight: 400;
        font-size: 20px;
    }
    .banner .titel1 {
        padding-bottom: 50px;
    }
    .banner .titel3 {
        padding-top: 50px;
    }
    .text-light {
        font-weight: 200;
    }
    footer {
        background: rgba(0, 0, 0, 0.8);
        padding: 5vmin;
    }
    footer p {
        font-size: 18px;
    }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 1200px) {
    .banner .titel h1 {
        font-weight: 400;
        font-size: 21px;
    }
    .banner .titel h2 {
        font-weight: 400;
        font-size: 18px;
    }
    .banner .titel h3 {
        font-weight: 400;
        font-size: 14px;
    }
    .banner .titel1 {
        padding-bottom: 20px;
    }
    .banner .titel3 {
        padding-top: 20px;
    }
    .text-light {
        font-weight: 200;
    }
    footer {
        background: rgba(0, 0, 0, 0.8);
        padding: 5vmin;
        color: #fff;
    }
    footer p {
        font-size: 14px;
    }
}

@media screen and (max-height:800px) {
    .banner .titel h1 {
        font-weight: 400;
        font-size: 21px;
    }
    .banner .titel h2 {
        font-weight: 400;
        font-size: 18px;
    }
    .banner .titel h3 {
        font-weight: 400;
        font-size: 14px;
    }
    .banner .titel1 {
        padding-bottom: 20px;
    }
    .banner .titel3 {
        padding-top: 20px;
    }
    .text-light {
        font-weight: 200;
    }
    footer {
        background: rgba(0, 0, 0, 0.8);
        padding: 5vmin;
        color: #fff;
    }
    footer p {
        font-size: 14px;
    }
}