.banner {
    background: url("/assets/logo.jpg") no-repeat;
    height: 110vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

html {
    overflow-x: hidden;
}

.banner .titel {
    text-align: center;
    padding-top: 300px;
    background-color: rgba(51, 51, 51, 0.671);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    color: #fff;
}

.banner .titel h1 {
    font-weight: 400;
    font-size: 40px;
}

.banner .titel h2 {
    font-weight: 400;
    font-size: 25px;
}

.banner .titel h3 {
    font-weight: 400;
    font-size: 20px;
}

.banner .titel1 {
    padding-bottom: 50px;
}

.banner .titel3 {
    padding-top: 50px;
}

.card {
    margin: auto;
    width: 85%;
    margin-bottom: 5vmin;
    min-height: 400px;
    box-shadow: 2px 1px 20px 2px rgb(150, 150, 150);
}

.class1 {
    padding-top: 100px;
    text-align: center;
}

.class1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.abstand-10 {
    height: 20px;
}

.class2 .subheading {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 1280px) {
    .banner .titel {
        text-align: center;
        padding-top: 20vmax;
    }
    .banner .titel h1 {
        font-weight: 400;
        font-size: 30px;
    }
    .banner .titel h2 {
        font-weight: 400;
        font-size: 25px;
    }
    .banner .titel h3 {
        font-weight: 400;
        font-size: 20px;
    }
    .banner .titel1 {
        padding-bottom: 50px;
    }
    .banner .titel3 {
        padding-top: 50px;
    }
}