@import url('https://fonts.googleapis.com/css?family=Kanit|Oswald|Roboto|Roboto+Condensed|Roboto+Slab|Pacifico&display=swap');
html {
    overflow-x: hidden;
}

:root {
    --robocond: 'Roboto Condensed', sans-serif;
    --robo: "Roboto", sans-serif;
    --oswald: "Oswald", sans-serif;
    --roboslab: "Roboto Slab", serif;
    --kanit: "Kanit", sans-serif;
    --pacifico: "Pacifico", cursive;
    --lightblack: #383838;
    --lightblue: #6cabbd;
    --darkblue: #1a5c6e;
    --color1: rgb(0, 140, 255);
    --color2: #D9D9D9;
    --color3: #F9CF00;
    --color4: rgb(255, 97, 23);
    --gradient-left: linear-gradient(to right, rgba(54, 54, 54, 0.548), rgba(255, 255, 255, 0));
    --gradient-right: linear-gradient(to left, rgba(54, 54, 54, 0.548), rgba(255, 255, 255, 0));
    --gradient2: linear-gradient(to bottom, rgb(0, 0, 0), rgba(53, 53, 53, 0.527));
    --gradient3: linear-gradient(to right, rgb(245, 117, 31), rgb(250, 69, 93));
}

body {
    overflow-x: hidden;
}

.navbar.navbar-expand-lg.navbar-light {
    font-family: var(--robo);
    font-weight: 600;
    font-size: 15px;
    width: 100%;
    background: linear-gradient(to right, rgb(245, 117, 31), rgb(250, 69, 93));
    height: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    z-index: 1;
    position: fixed;
}

.navbar-brand {
    font-family: var(--pacifico);
    padding-top: -10px;
}

.navbar-brand img {
    height: 40px;
}

.navbar.navbar-expand-lg.navbar-light a {
    color: white;
}

.navbar.navbar-expand-lg.navbar-light a:hover {
    color: var(--color1);
}

.navbar.navbar-expand-lg.navbar-light button {
    border-radius: 30px;
    margin-right: -5%;
}

.navbar.navbar-expand-lg.navbar-light button:hover {
    background-color: #fff;
    border-radius: 30px;
}

.navbar-nav {
    margin-left: auto;
    text-align: center;
}

.nav-item.nav-link {
    padding-top: 25px;
}


/* Hier ist der Custom Loader*/

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    border: 4px solid var(--darkblue);
    animation: loader 2s infinite ease;
    border-radius: 10px;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: var(--darkblue);
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

.class3 {
    padding-top: 150px;
    background-color: #fff;
}

.class3 li :hover {
    color: #fff;
}

.card {
    margin: auto;
    width: 85%;
    margin-bottom: 5vmin;
    min-height: 400px;
    box-shadow: 2px 1px 20px 2px rgb(150, 150, 150);
}

.card button {
    margin: auto;
    display: block;
    width: 100px;
    height: 40px;
    border: none;
    color: #fff;
    background-color: var(--color1);
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-content {
    margin: auto;
    background-color: #fff;
    width: 90%;
    height: 100%;
}

.card-img {
    height: 200px;
    width: 100%;
}

.img1 {
    background-image: url(assets/code.png );
    background-size: 120%;
    background-repeat: no-repeat;
}

.img2 {
    background-image: url(assets/high-end-hosting.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.img3 {
    background-image: url(assets/support.png);
    background-size: 120%;
    background-repeat: no-repeat;
}

.img4 {
    background-image: url(assets/weesy.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.card p {
    text-align: center;
    color: rgb(56, 72, 97);
}

.card h2 {
    text-align: center;
    font-weight: 600;
}

#more1 {
    display: none;
}

#more2 {
    display: none;
}

#more3 {
    display: none;
}

#more4 {
    display: none;
}

.spalte {
    height: 50px;
}

.card2 {
    margin: auto;
    width: 85%;
    margin-bottom: 5vmin;
    min-height: 400px;
    box-shadow: 2px 1px 20px 2px rgb(150, 150, 150);
    text-align: left;
    overflow: hidden;
    font-family: var(--robo);
}

.card2 h3 {
    text-align: left;
    display: inline-block;
    width: 100%;
    margin-right: -100px;
}

.card2 button {
    width: 100px;
    height: 50px;
    border: none;
    color: #fff;
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 20px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--gradient3);
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 173, 173);
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    border: 4px solid var(--color4);
    animation: loader 2s infinite ease;
    border-radius: 10px;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: var(--color4);
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 5vmin;
}

footer span {
    color: var(--color1);
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer.input-group .input-group-text {
    background: var(--color1);
    border: none;
    height: 100%;
    width: 100%;
    color: white;
}

footer button:hover {
    background-color: #fff;
    color: var(--color1);
    box-shadow: 10px 5px 100px 10px var(--color1);
}

.abstand {
    background-color: rgb(0, 140, 255);
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.abstandtext {
    font-family: var(--roboslab);
}

.class2 {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    display: block;
    padding-left: 15vmin;
    padding-right: 15vmin;
    max-width: 100%;
    text-align: center;
}

.class2 h4 {
    padding-top: 5vmin;
    font-weight: 500;
}

.title h3 {
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.title {
    background-color: rgb(0, 140, 255);
    height: 100%;
    width: 100%;
}